# dependencies
node_modules
.pnp
.pnp.*
.yarn/*

# build output
.next/
out/
build

# env
.env*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# misc
.DS_Store
*.pem
.vercel
next-env.d.ts

# typescript
*.tsbuildinfo

# uploaded files
public/sample-pdfs/*.pdf
!public/sample-pdfs/Phase 3.pdf
